@import url(http://fonts.googleapis.com/css?family=Playfair+Display:900|Josefin+Sans:400);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

* {
	font-family: 'Lato', 'Open Sans', sans-serif;
}

body {
	/* background: #2a2e39; */
	background: rgb(8, 48, 69);
	color: #dbdbdb;
	font-weight: 400;
	font-size: 1em;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
}

a {
	color: #36b6dd;
	text-decoration: none;
}

a:hover,
a:focus {
	outline: none;
	color: #fff !important;
}

.resumeDownload{
	color: #fff;
}

/* .image-container{
	background-image: url("/assets/images/Backgrounds/8231NT5.png");
	background-size: cover;
} */

.header-image {
	background-image: url("../img/coastSunset.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #999;
}

.codrops-links {
	position: relative;
	-webkit-flex: none;
	flex: none;
	white-space: nowrap;
}

.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	/* speak: none; */
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
}

.codrops-icon--prev:before {
	content: "\e004";
}

.demos {
	margin-top: 0.5em;
}

.demos__item {
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0.2em 0;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 2px;
	font-size: 0.75em;
}

.demos__item--current {
	border-bottom: 1px solid #000;
	border-color: initial;
}

.related {
	padding: 9em 1em;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.8;
}

.container {
	max-width: inherit;
	width: inherit;
}

.navbar {
	margin-left: 2em;
	margin-right: 2em;
}

.hero-foot {
	text-align: right;
	margin-right: 20px;
	margin-bottom: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}

.footCol {
	height: 70px;
}

.fillerImg {
	width: 355px;
}

.items-wrap {
	overflow: auto;
}

.navbar-brand{
	margin-top: 11px;
}

.hero.is-info,
.navbar-menu, 
#navMenu {
	background-color: rgba(100, 93, 206, 0);
}

.hero.is-info .navbar-link.is-active, .hero.is-info .navbar-link:hover, .hero.is-info a.navbar-item.is-active, .hero.is-info a.navbar-item:hover {
	background-color: transparent !important;
	color: rgba(54, 182, 221, 0.85) !important;
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover, a.resumeDownload:hover {
	/* background-color: #fafafa; */
	background-color: transparent !important;
	color: rgba(54, 182, 221, 0.85) !important;
}

.downloadIcon.resumeDownload:hover .resumeLink.resumeDownload:hover {
	background-color: transparent !important;
	color: rgba(54, 182, 221, 0.85) !important;
}

.downloadIcon {
	margin-right: 5px;
}

.resume-download:hover, .resumeLink:hover {
	background-color: transparent !important;
	color: rgba(54, 182, 221, 0.85) !important;
}

.downloadIcon:hover {
	background-color: transparent !important;
	color: rgba(54, 182, 221, 0.85) !important;
}

.firstBurger {
	margin-top: 1em;
}

.navbar-menu {
	background-color: rgba(100, 93, 206, 0) !important;
}

.navbar-item {
	font-family: 'Lato', sans-serif;
}

.navbar-end {
	font-size: 15px !important;
	font-weight: 700;
}

.nav-wrapper{
	padding-left:70px;
	padding-right:40px;
	font-family: 'Lato', sans-serif;
}

.brand-logo {
	font-weight: 300 !important;
	font-size: 32px !important;
}

#logo2 {
	font-weight: 900;
}

.container-fluid {
	margin: 0 auto;
}

.box {
	margin: 0 auto;
	background-color: #ffffff3b !important;
}

.aboutMeHeader {
	font-size: 45px;
	color: #1ab3de !important;
	font-weight: 900;
	font-family: "Playfair Display", Georgia, serif;
}

.contentP {
	font-family: "Playfair Display", Georgia, serif;
}

.contentName {
	font-size: 1.25em !important;
	font-family: "Playfair Display", Georgia, serif;
	color: #ccbb64 !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.image.is-200x200 {
  height: 200px;
  width: 200px;
}

.level.is-mobile {
	margin-top: 26px;
}

.level-item {
	color: #1ab3de;
	font-weight: 700;
}

.deviconTitle {
	position: relative;
	left: -15%;
	font-size: 34px;
	font-family: "Playfair Display", Georgia, serif;
}

a.item.fillerLink {
	height: 70px !important;
}

.hidden {
	display: none;
}

.svgGrid {
	width: 62px;
	text-align: center;
}

.grid-rect {
	stroke-width: 4px;
}

.media-content {
	color: #ccbb64;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.level-item {
	white-space: normal; 
}

.splitLevel, .splitLevelSmaller {
	display: none;
}

.level.is-mobile.splitMobile,
.level.is-mobile.splitMobileSmaller {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.navbar-burger {
	height: 1.25rem;
	margin-top: 20px;
}

.aboutMeHeader.inner {
	display: none !important;
}

.deviconTitle, .deviconTitleCol {
	-webkit-column-span: all; /* Chrome, Safari, Opera */
	column-span: all;
	transition: top 0.2s ease-in-out;
}

.title-up{
	transition: top 0.1s ease-in-out;
	top: -400px;
}

.content.smallMedia {
	display: none;
}

.navbar-menu.is-active {
	margin-bottom: 1.3em;
}

.contentName.shortName,
.contentP.shortContentP {
	display: none;
}

/* .container-fluid.columns.footCol {
	-webkit-columns: 2 200px;
	-moz-columns: 2 200px;
	columns: 2 200px;
} */

/* Media Queries */
@media screen and (min-width: 1472px) {
	.container {
		max-width: inherit;
		width: inherit;
		margin-left: 0;
		margin-right: 0;
	}
}
@media screen and (min-width: 1280px) {
	.container {
    max-width: inherit;
    width: inherit;
	}
}
@media screen and (max-width: 1160px){
	.contentName{
		font-size: 19px !important;
	}
	.contentP {
		font-size: 15px !important;
	}
	.level-item {
		font-size: 15px !important;
	}
}
@media screen and (max-width: 1087px){
	.navbar-menu.is-active {
    background-color: rgba(8, 48, 69, 0.5) !important;
	}	
}
@media screen and (max-width: 1000px){
	.image.is-200x200 {
		height: 160px;
		width: 160px;
	}
}
@media screen and (max-width: 950px){
	.fullLevel {
		display: none;
	}
	.level.is-mobile.fullMobile {
		display: none;
	}
	.splitLevel {
		display: flex;
	}
	.deviconTitle {
		font-size: 28px !important;
	}
}
@media screen and (min-width: 1088px) {
	.container {
    max-width: inherit;
    width: inherit;
	}
	.deviconTitle {
		font-size: 30px !important;
	}
	.svgBtn {
		width: 90%;
		height: 90%;
	}
	.svgGrid {
		width: 56px;
		/* height: 56px; */
	}
}
@media screen and (max-width: 770px){
	.column {
		display: inline-flex !important;
	}
	.contentName{
		font-size: 17px !important;
	}
	.contentP {
		font-size: 14px !important;
	}
	.level-item {
		font-size: 14px !important;
	}
	.aboutMeHeader {
		font-size: 30px !important;
	}
	.deviconTitle {
		font-size: 26px !important;
	}	
	.brand-logo {
		font-size: 30px !important;
	}
	.svgBtn {
		width: 80%;
		height: 80%;
	}
	.svgGrid {
		width: 50px;
		/* height: 50px; */
	}
}
@media screen and (max-width: 700px){
	.image.is-200x200 {
		margin-top: 15%;
	}
	.hero-body{
		padding: 2rem 1.5rem;
	}
}
@media screen and (max-width: 650px){
	.image.is-200x200 {
		margin-top: 20%;
	}
}
@media screen and (max-width: 615px){
	.image.is-200x200 {
		margin-top: 35%;
	}
}
@media screen and (max-width: 550px){
	.image.is-200x200 {
		margin-top: 45%;
	}
	.hero-body{
		padding: 1rem 1.5rem;
	}
	.brand-logo {
		font-size: 28px !important;
	}
	.aboutMeHeader {
		font-size: 28px !important;
		padding: 0;
	}
	.deviconTitle {
		font-size: 24px !important;
	}	
	.svgBtn {
		width: 70%;
		height: 70%;
	}
	.svgGrid {
		width: 43.5px;
		/* height: 43.5px; */
	}
}
@media screen and (max-width: 500px){
	.image.is-200x200 {
		margin-top: 60%;
	}
	.deviconTitle {
		font-size: 22px !important;
	}	
}
@media screen and (max-width: 590px) {
	.demos__item {
		margin-bottom: 1.5em;
	}
}
@media screen and (max-width: 460px){
	.hero-body {
    padding: 0rem 0.5rem;
	}
}
@media screen and (max-width: 420px){
	.splitLevel {
		display: none;
	}
	.level.is-mobile.splitMobile {
		display: none;
	}
	.splitLevelSmaller {
		display: flex;
	}
	.columns:not(:last-child) {
    margin-bottom: 0;
	}
	.aboutMeHeader {
		font-size: 24px !important;
		padding: 0;
	}
	.brand-logo {
    font-size: 24px !important;
	}
	.aboutMeHeader.inner {
		display: block !important;
		padding-top: 20px;
	}
	.aboutMeHeader.outer {
		display: none !important;
	}
	.navbar-brand {
    margin-top: 0px !important;
    margin-bottom: 6px !important;
	}
	.deviconTitle {
		font-size: 20px !important;
	}	
	.svgBtn {
		width: 60%;
		height: 60%;
	} 
	.svgGrid {
		width: 37px;
		/* height: 37px; */
	}
}
@media screen and (max-width: 400px){
	.content.smallMedia {
		display: flex;
	}
	.media-left {
		display: none;
	}
	.content figure:not(:first-child) {
    margin-top: 0em;
	}
	.image.is-200x200 {
    height: 120px;
		width: 120px;
		position: relative;
    right: -55px;
	}
	.aboutMeHeader.inner {
		margin-bottom: 0;
		position: relative;
    right: -25px;
    top: 25px;
	}
	.box {
		padding: 1rem;
	}
}
@media screen and (max-width: 370px){
	.deviconTitle {
	left: 11%;
	}
}
@media screen and (max-width: 341px){
	.deviconTitle {
    float: left;
    white-space: normal;
    position: relative;
    left: -81px;
	}
	.column.is-1 {
		position: relative;
		bottom: 55px;
	}
}
@media screen and (max-width: 332px){
	.image.is-200x200 {
    right: -20px;
	}
	.aboutMeHeader.inner {
    right: -14px;
    top: 25px;
	}
}

@media screen and (max-width: 320px){
	.deviconTitle {
		font-size: 18px !important;
		left: -55px;
	}
	.column.is-1 {
		right: -15px;
	}
}
@media screen and (max-height: 670px){
	.contentName.shortName {
    display: block;
    position: relative;
    top: 12px;
    right: -20px;
	}
	.contentName.tallName {
		display: none;
	}
	.contentP.shortContentP {
    display: block;
    position: relative;
    top: 10px;
		right: -8px;
		width: 85%;
	}
	.tallContentP {
		display: none;
	}
	.columns.aboutInner {
		width: 64%;
	}
	.aboutMeHeader.inner {
    right: 10px;
		top: 5px;
		margin-bottom: 0;
	}
	.image.is-200x200{
		margin-right: 0;
		margin-left: 0;
		margin-top: 0em;
		right: -1px;
	}
	.content figure img {
    display: flex;
    width: 120px !important;
    height: 120px;
    margin-left: 0;
    margin-right: 0;
	}
}
@media screen and (max-height: 610px){
	.triggerShort{
		bottom: -30px;
	}
}
@media screen and (max-height: 580px){
	.triggerShort{
		bottom: -54px;
	}
}