*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #585656;
	background: #232323;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	display: flex;
	overflow: hidden;
	height: 100vh;
}

a {
	text-decoration: none;
	color: #6dcc9e;
	outline: none;
	cursor: pointer;
}

a:hover {
	color: #fff;
}

a:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.js .loading {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #232323;
	transition: opacity 0.3s;
}

.js .loading--hide {
	pointer-events: none;
	opacity: 0;
}

.js .loading::after {
	content: '- - -';
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	animation: animLoader 1s infinite alternate forwards;
}

@keyframes animLoader {
	0% {
		content: '- - -';
	}
	25% {
		content: 'd - -';
	}
	50% {
		content: '- - c';
	}
	75% {
		content: '- / -';
	}
	100% {
		content: 'd - c';
	}
}

.github {
	font-size: 0.875em;
	margin: 0 2em 0 auto;
}

.btn {
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--menu {
	font-size: 1em;
	margin: 0 0 0 2em;
	padding: 0;
	color: #585656;
	position: fixed;
	top: 0;
	right: 0;
}

.btn--menu .icon--menu-alt,
.btn--menu.mode--code .icon--menu {
	display: none;
}

/* Switching from block to none */
.btn--menu.mode--code .icon--menu-alt {
	display: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--menu {
	/* margin-left: 85px; */
	position: absolute;
	right: 3em;
	top: 3em;
}

.icon--menu-alt {
	/* margin-left: 55px; */
	position: absolute;
	right: 2.5em;
	top: 3em;
}

.icon--menu, .icon--menu-alt {
	display: none;
}

/* Content */
.content,
.content__inner {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.content__inner {
	z-index: 100;
	flex-direction: column;
	align-content: flex-start;
	padding: 2.5em 2.5em 0;
}

.content__top {
	display: flex;
	align-items: center;
	flex: none;
	width: 100%;
}

.title {
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1;
	display: flex;
	align-items: center;
	height: 1.75em;
	margin: 0;
}

.title__inner.mode--design {
	font-size: 1.5em;
}

.title__inner.mode--code {
	text-transform: lowercase;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 9em;
	margin: 1em 0 0 auto;
}

.codrops-icon {
	color: #484545;
}

.mode--code,
.menu--code .menu__link {
	font-family: 'Rokkitt', serif;
	font-weight: 400;
	font-size: 1.4em;
	text-transform: lowercase;
	color: #e04643;
	/* color: #464646; */
}

.menu {
	font-size: 1.85em;
	flex: none;
	width: 100%;
	margin: 2em 0 0 auto;
	text-align: right;
}

.menu__inner {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu--code {
	font-size: 1.3em;
	flex: none;
	width: 100%;
	text-align: right;
}

.menu:not(.menu--code) .menu__item {
	position: relative;
}

.menu__item:not(:last-child) {
	margin: 0 0 0.25em 0;
}

.js .menu--code {
	display: none;
}

/* .menu__link {
	display: inline-block;
} */

.menu--code .menu__link:hover {
	color: #fff;
}

.content__bottom {
	display: flex;
	align-items: center;
	width: 100%;
	margin: auto 0 0 0;
}

.switch {
	position: fixed;
	display: flex;
	align-items: center;
	bottom: -1px;
}

.switch__content {
	display: flex;
}

.switch__item {
	line-height: 1;
	position: relative;
	display: inline-block;
	margin: 0 1.5em 0 0;
	padding-top: 0.7em;
	color: #585656;
}

.switch__item span {
	position: fixed;
	display: inline-block;
	pointer-events: none;
}

.switch__item .codeSpan.mode--design {
	left: 11.6em;
	bottom: 1.3em;
}

.switch__item .codeSpan.mode--code {
	left: 8.5em;
	bottom: 0.6em;
}

.switch__item .designSpan.mode--design {
	left: 1.6em;
	bottom: 1.5em;
}

.switch__item .designSpan.mode--code {
	left: 1.3em;
	bottom: 0.8em;
}

.switch__item--current {
	pointer-events: none;
	color: #232323;
	background-color: #6dcc9e;
}

.designBtn.switch__item--current {
	pointer-events: none;
	color: #232323;
	background-color: #6dcc9e;
}

.mode--code .switch__item--current {
	color: #232323;
	background-color: #e04643;
	text-transform: lowercase !important;
	font-family: 'Rokkitt', serif;
	font-weight: 400;
}

.switch__item:first-child::after {
	content: '';
	position: absolute;
	top: -5%;
	left: calc(100% + 0.75em);
	width: 1px;
	height: 110%;
	background: #464646;
	transform: rotate(22.5deg);
}

#switchDiv {
	animation-duration: 3s;
	/* animation-delay: 2s; */
	/* animation-iteration-count: inherit; */
  -vendor-animation-duration: 10s;
  /* -vendor-animation-delay: 2s; */
  /* -vendor-animation-iteration-count: inherit; */
}

.btn-large {
	/* height: 40px !important; */
	width: 8em;
}

.btn.codeBtn {
	background-color: #e04643;
	padding-top: 5%;
}

.btn-large.codeBtn {
	background-color: #e04643;
	padding-top: 7%;
}

.btn-small.codeBtn {
	background-color: #e04643;
	padding-top: 7%;
}

.codeBtn > .mode--code {
	font-family: 'Rokkitt', serif;
	font-weight: 400;
	font-size: 1.4em;
	text-transform: lowercase;
	/* color: #e04643; */
	color: #464646;
}

.btn.designBtn {
	background-color: #6dcc9e;
	color: #fff;
	padding-top: 5%;
}

.btn-large.designBtn {
	background-color: #6dcc9e;
	color: #fff;
	padding-top: 7%;
}

.btn-small.designBtn {
	background-color: #6dcc9e;
	color: #fff;
	padding-top: 7%;
}

.btn.codeBtn:hover, .btn-large.codeBtn:hover, .btn-small.codeBtn:hover {
	background-color: #464646;
	color: #e04643;
}

.btn-large.designBtn {
	border-radius: 6px;
	box-shadow: 0 3px 0 0 #6dcc9e;
}

.btn-large.codeBtn {
	border-radius: 6px;
	box-shadow: 0 3px 0 0 #e04643;
}

.btn-large.codeBtn:active, .btn-large.codeBtn.active {
	background: #b52e2b;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.btn-large.designBtn:active, .btn-large.designBtn.active {
	background: #26a69a;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

#switchDiv {
	margin-bottom: 1.65em;
}

.btn.designBtn:hover, .btn-large.designBtn:hover, .btn-small.designBtn:hover {
	background-color: #464646;
	color: #6dcc9e;
}

.btn.designBtn.designStyle,
.btn-large.designBtn.designStyle,
.btn-small.designBtn.designStyle {
	background-color: #6dcc9e;
	color: #232323;
	font-family: 'Lato', sans-serif;
}

.link-wrap {
	display: flex;
	align-items: center;
	height: 4em;
	margin: 0 0 0 auto;
	position: absolute;
	bottom: 1em;
	right: 1.5em;
}

.contact-link {
	display: inline-block;
	padding: 1em 0;
	font-size: 1.8em;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: rgba(107, 87, 86, 0.22);
	opacity: 0;
}

.logoT {
	width: 35px;
	position: relative;
	bottom: -8px;
}

.menu-items.burger-items {
	display: flex;
}

.hidden {
	display: none;
}

@media screen and (max-height: 38.5em) {
	.menu {
		text-align: left;
	}
}

@media screen and (max-width: 40em) {
	.content__top {
		font-size: 0.5em;
	}
	.content__bottom {
		font-size: 0.85em;
	}
	.menu {
		font-size: 1em;
	}
	.content__inner {
		padding: 1em 1em 0;
	}
}

@media screen and (max-width: 1090px) {
	.menu {
		font-size: 1.5em;
	}
	.title {
		font-size: 1em;
	}
	.contact-link {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 995px) {
	.switch__item .designSpan.mode--code {
    left: 1em;
    bottom: 0.6em;
	}

	.switch__item .designSpan.mode--design {
    left: 1.6em;
    bottom: 1em;
	}

	.switch__item .codeSpan.mode--design {
    left: 11.6em;
    bottom: 1em;
	}

	.switch__item .codeSpan.mode--code {
    left: 8.5em;
		bottom: 0.5em;
	}

	/* .desktopMenu {
		display: none;
	} */

	.btn--menu .icon--menu-alt,
	.btn--menu.mode--code .icon--menu {
		display: inline-block !important;
	}

	.icon--menu, .icon--menu-alt {
		display: inline-block !important;
	}
	/* Switching from block to none */
	.btn--menu.mode--code .icon--menu-alt {
		display: inline-block !important;
	}

	.title__inner.mode--design {
		/* position: relative;
		top: -0.35em; */
		position: fixed;
    top: 0.6em;
	}

	.title__inner.mode--code {
		padding-bottom: 1em;
		/* position: relative;
		top: -0.35em; */
		position: fixed;
    top: 0.6em;
	}

	.burgerOpen.title__inner.mode--code {
		padding-bottom: 1em;
		/* position: relative;
		top: -3.35em; */
	}

	.btn.btn--menu.mode--code {
		position: absolute;
    top: -1.4em;
    right: -1em;
	}

	.btn-large {
		height: 40px !important;
		font-size: 13px !important;
	}

	.switch__item span {
    /* position: relative; */
    display: inline-block;
    pointer-events: none;
		/* bottom: 6px; */
	}

	.menu {
		font-size: 1.5em;
	}
	.title {
		font-size: 1em;
	}
	.contact-link {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 775px) {
	.contactSpan {
		display: block;
		text-align: center;
		padding-bottom: 0.5em;
	}
}
@media screen and (max-width: 660px) {
	.contact-link {
		font-size: 1.25em;
	}
	.title__inner.mode--design {
    font-size: 1.25em;
	}
	.mode--code, .menu--code .menu__link {
    font-size: 1.25em;
	}

}
@media screen and (max-width: 550px) {
	.switch__item .designSpan.mode--design {
    left: 1em;
    bottom: 0.6em;
	}
	.switch__item .designSpan.mode--code {
    left: 1em;
    bottom: 0.2em;
	}
	.switch__item .codeSpan.mode--code {
		left: 7em;
		bottom: 0.25em;
	}
	.switch__item .codeSpan.mode--design {
    left: 10em;
    bottom: 0.5em;
	}
	.btn-large {
    height: 30px !important;
    font-size: 12px !important;
    width: 7em;
	}
	.btn-large.codeBtn {
    height: 30px !important;
    font-size: 12px !important;
    width: 6.25em;
	}
	/* .switch__item .codeSpan.mode--code {
		left: -9px;
	} */
	/* .switch__item .codeSpan.mode--design {
		left: -10px;
	} */
}
@media screen and (max-width: 465px) {
	.logoT {
		width: 25px;
		position: relative;
		bottom: -8px;
	}
	.contact-link {
		font-size: 1em;
	}
	.title__inner.mode--design {
    font-size: 1em;
	}
	.mode--code, .menu--code .menu__link {
    font-size: 1em;
	}
	.btn-large.codeBtn {
		position: fixed;
		bottom: 3.5em;
	}
	.switch__item .codeSpan.mode--design {
    left: 1.5em;
    bottom: 4.2em;
	}
	.switch__item .codeSpan.mode--code {
    left: 1em;
    bottom: 2.5em;
	}
	.switch__item .designSpan.mode--code {
    left: 1.5em;
    bottom: 0.2em;
	}
}
/* TODO: Make Btns and Contact link responsive, add burger menu */